@model Grob.ServiceFabric.Web.Models.Containers.ContainerViewModel

@{
    ViewData["Title"] = "Containers";
}

<div>
    <div>
        @Html.ActionLink("Add container", "create", "container", routeValues: null, htmlAttributes: new { @class = "btn blue lighten-1" })
    </div>
    <div>
        <h2>Containers</h2>
        <div class="containers-list">
            @foreach (Grob.Entities.Docker.Container container in Model.Containers)
            {
                <hr class="container-separator">
                <div class="container-row">
                    <div class="container-name-container">@Html.DisplayFor(m => container.Command)</div>
                    <div class="container-name-container">@Html.DisplayFor(m => container.Created)</div>
                    <div class="container-name-container">@Html.DisplayFor(m => container.Id)</div>
                    <div class="container-name-container">@Html.DisplayFor(m => container.Image)</div>
                    <div class="container-name-container">@Html.DisplayFor(m => container.Name)</div>
                    <div class="container-name-container">@Html.DisplayFor(m => container.Status)</div>
                </div>
            }
        </div>
    </div>
</div>