@model Grob.ServiceFabric.Web.Models.TaskIndexModel

@{
    ViewData["Title"] = "Tasks";
}

<h2>Tasks</h2>

<div>
    <div class="containers-container">
        <div class="containers-name-header">Name</div>
    </div>
    <div class="containers-list">
        @foreach(Grob.Entities.Docker.Container container in Model.Containers)
        {
            <hr class="container-separator">
            <div class="container-row">
                <div class="container-name-container">@Html.DisplayFor(m => container.Name)</div>
                <div class="container-created-container">@Html.DisplayFor(m => container.Created)</div>
                <div class="container-image-container">@Html.DisplayFor(m => container.Image)</div>
                <div class="container-command-container">@Html.DisplayFor(m => container.Command)</div>
                <div class="container-status-container">@Html.DisplayFor(m => container.Status)</div>
            </div>
        }
    </div>
</div>
