@model Grob.ServiceFabric.Web.Models.Tasks.TaskDetailsModel

@{
    ViewData["Title"] = "TaskDetails";
}

<h2>@Model.GrobTask.Name</h2>

<div>
    <table class="striped centered">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.GrobTask.Name</td>
            </tr>
            <tr>
                <td>Application name</td>
                <td>@Model.GrobTask.ApplicationName</td>
            </tr>
            <tr>
                <td>Schedule type</td>
                <td>@Model.GrobTask.ScheduleType</td>
            </tr>
            <tr>
                <td>Container type</td>
                <td>@Model.GrobTask.ContainerType</td>
            </tr>
            <tr>
                <td>Last run</td>
                <td>@Model.GrobTask.LastRunTime</td>
            </tr>
            <tr>
                <td>Next run</td>
                <td>@Model.GrobTask.NextRunTime</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.GrobTask.Status</td>
            </tr>
            <tr>
                <td>Private url</td>
                <td>@Model.GrobTask.PrivateUrl</td>
            </tr>
            <tr>
                <td>Public url</td>
                <td>@Model.GrobTask.PublicUrl</td>
            </tr>
        </tbody>
    </table>
    <h4>Containers</h4>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Command</th>
                <th>Created</th>
                <th>Image</th>
                <th>Status</th>
                <th>Agent name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in Model.GrobTask.Containers)
            {
                <tr>
                    <td>@container.Name</td>
                    <td>@container.Command</td>
                    <td>@container.Created</td>
                    <td>@container.Image</td>
                    <td>@container.Status</td>
                    <td>@container.AgentName</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Runs</h4>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Agent</th>
                @*<th>Logs</th>*@
                <th>Success</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.GrobTask.Logs)
            {
                <tr>
                    <td>@log.Timestamp</td>
                    <td>@log.Agent</td>
                    @*<th>@log.Logs</th>*@
                    @if (log.WasSuccessful)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
